html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
} 

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: sticky;
    top: 0;
    width: 100vw;
}

#nav_top {
    background-color: #fff;
}

#nav_top ul{
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    margin: auto;
}

li{
    list-style: none;
    padding-left: 10px;
}

main{
    min-height: 200vh;
    background: #eee;
}

.viewed_user{
    background: #1ff;
    position: sticky;
    top: 60px;
}

a {
    text-decoration: none;
    color: #1ac
}

footer{
    position: sticky;
    background: #fff;
    bottom: 0;
    width: 100vw;
    text-align: center;
}
